
body {
  font-family: 'Helvetica';
  background-color: #218421;
  color: #ffffff;
}

.goGameBody {
  font-family: 'Helvetica';
  background-color: #ffffff;
  color: #000000;
}

a {
  color: #ffffff;
}

.darkLinks a {
  color: #aaaaaa;
}

#display-area {
  text-align: center;
}

#other-player {
  background-color: #ffffff;
  color: #000000;
  border:5px solid #333;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.boxWidth {
  width: 80vw;
}

.topPlayers {
  background-color: #FFE000;
  color: #000000;
  border:5px solid #333;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.topPlayers table {
    border-collapse: collapse;
    width: 100%;
    color: #000000;
}

.topPlayers thead tr {
  border-bottom: 1px solid #ccc;  
}

.topPlayers th {
  text-align: left;
  font-weight:normal;
}

@media only screen and (orientation: landscape) {
  .boxWidth {
    width: 40vw;
  }
}

#gameInformation {
  text-align: left;
  width: 40vw;
  padding-bottom: 20px;
  margin-top: 100px;
}

#this-game {
  font-size: 9pt;
}

.squareSize {
  width:10vw;
  height:10vw;
  font-size:8vw;
}

@media only screen and (orientation: landscape) {
  .squareSize {
    width:8vh;
    height:8vh;
    font-size:6vh;
  }
}

.piece {
  position:absolute;
  color: #000000;
  text-align: center;
  vertical-align: middle;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
}

#chess_board {
  border:5px solid #333;
}
#chess_board td {
  background:#fff;
  background:-moz-linear-gradient(top, #fff, #eee);
  background:-webkit-gradient(linear,0 0, 0 100%, from(#fff), to(#eee));
  box-shadow:inset 0 0 0 1px #fff;
  -moz-box-shadow:inset 0 0 0 1px #fff;
  -webkit-box-shadow:inset 0 0 0 1px #fff;
  text-align:center;
  vertical-align:middle;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
}
#chess_board tr {
  height: 12.5%;
}
#chess_board tr:nth-child(odd) td:nth-child(even),
#chess_board tr:nth-child(even) td:nth-child(odd) {
  background:#ccc;
  background:-moz-linear-gradient(top, #ccc, #eee);
  background:-webkit-gradient(linear,0 0, 0 100%, from(#ccc), to(#eee));
  box-shadow:inset 0 0 10px rgba(0,0,0,.4);
  -moz-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
  -webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
}

#controlPanel {
  margin-bottom: 5px;
}

#controlPanelBottom {
  margin-top: 5px;
}

#ping {
  margin-top: 15px;
}

#pingbutton {
  visibility: hidden;
}

.pointerCursor {
  cursor: pointer;
}

#this-game {
  margin-top: 20px;
}

.gameButton {
  -moz-box-shadow: 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
  box-shadow: 0px 1px 0px 0px #fff6af;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
  background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
  background-color:#ffec64;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #ffaa22;
  display:inline-block;
  cursor:pointer;
  color:#333333;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffee66;
}
.gameButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
  background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
  background-color:#ffab23;
}
.gameButton:active {
  position:relative;
  top:1px;
}
